/* Base styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.5);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-brand {
  display: flex;
  align-items: center;
}


.navbar-brand img{
  width: 100px;
  height: 50px;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item {
  margin: 0px 10px;
  margin-left: 15px;
}
.navbar-link:hover{
  color: orange;
  font-weight: bold;
  text-decoration: underline;
  transition: all 1s ease-in;
}
.navbar-btn button{
  background-color: orange;

}
.navbar-link, .navbar-btn {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.download a {
  color: white;
  text-decoration: none;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: rgba(51, 51, 51, 0.9);
    width: 200px;
    padding: 10px;
    border-radius: 4px;
  }

  .navbar-list-open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    margin-left: auto;
    color: white;
  }

  .navbar-item {
    margin: 10px 0;
  }

  .navbar-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
